<div layout="row">
    <div flex="95">
        <h1 class="md-headline">
      Invite someone!
    </h1>
        <md-list class="scroll-list">
            <md-list-item class="secondary-button-padding" ng-repeat="user in partyUninvited.users | uninvitedFilter:partyUninvited.party">
                <p>
                    {{ user | displayNameFilter }}
                </p>
                <md-button class="md-secondary" ng-click="partyUninvited.invite(user)">Invite</md-button>
            </md-list-item>
            <md-list-item ng-if="(partyUninvited.users | uninvitedFilter:partyUninvited.party).length <= 0">
                Everyone is already invited.
            </md-list-item>
        </md-list>
    </div>
    <div flex="5"></div>
</div>
