<div layout="column" layout-padding>
    <md-input-container>
        <label class="xs-pos-rel xs-posti-15 xs-posli-5">
            Foto da falha identificada:
        </label>
        <party-upload files="partyAddForm.party.images"></party-upload>
    </md-input-container>

    <md-input-container>
        <label>
            Título:
        </label>
        <input md-maxlength="40" required name="title" ng-model="partyAddForm.party.name">
        <div class="hint">
            Frase descrevendo a falha.
        </div>
    </md-input-container>
    <md-input-container>
        <label class="xs-pos-rel xs-posti-15 xs-posli-5">
            Área do Problema:
        </label>
        <md-radio-group required ng-model="partyAddForm.party.area">
            <md-radio-button ng-repeat="it in partyAddForm.areas"
                             class="md-primary"
                             ng-value="it.value"
                            aria-label="{{it.name}}">
                <md-icon class="xs-fsz-24">
                    {{ it.icon | mdiIconFilter }}</md-icon>
                <span class="xs-pos-rel xs-posl-6" ng-bind="it.name"></span>
            </md-radio-button>
        </md-radio-group>
    </md-input-container>
    <md-input-container>
        <label>
            Notas:
        </label>
        <textarea md-maxlength="200" rows="5" md-select-on-focus ng-model="partyAddForm.party.description"></textarea>
        <div class="hint">
            O que viu mais detalhes úteis.
        </div>
    </md-input-container>

    <div flex layout="row" layout-align="center start">
        <md-button flex="50" class="md-raised" ng-click="partyAddForm.submit()">
            Registrar
        </md-button>
    </div>
</div>