<div flex="grow" layout="column" layout-padding layout-align="top">
    <party-add-button ng-show="recordsList.isLoggedIn"></party-add-button>

    <div flex="100" layout="column" layout-align="center center">
        <md-content flex="85" layout="column" layout-fill>
            <div flex="grow" dir-paginate="party in recordsList.parties | itemsPerPage: recordsList.perPage"
                        total-items="recordsList.partiesCount" class="lg-layer-front-1">
                <party-card id="party._id" name="party.name" image="party.image"
                            type="party.type" has-thumb="party.hasThumb" ng-if="!!party._id"></party-card>
            </div>
        </md-content>
        <dir-pagination-controls flex="15" on-page-change="recordsList.pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
</div>
