<md-content layout="row" layout-align="center start" layout-fill layout-margin>
    <div layout="column" flex="90" layout-fill>
        <!-- header -->
        <div layout="column" flex layout-fill>
            <h3 class="md-headline">
                Esqueceu a senha?
            </h3>
        </div>
        <!-- content -->
        <div layout="column" flex layout-fill>
            <div layout="column" layout-fill layout-margin layout-padding>

                <!-- password form -->
                <form name="password.resetForm" layout="column" layout-fill layout-padding layout-margin>
                    <h5>
                        Digite seu email para que podemos lhe mandar um link para reconfigurar sua senha:
                    </h5>
                    <md-input-container flex>
                        <label>
                            Email do usuário
                        </label>
                        <input ng-model="password.credentials.email" required
                               ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/"/>
                        <div class="hint">
                            O email de sua conta.
                        </div>
                    </md-input-container>
                </form>
            </div>
        </div>

        <div flex layout-fill>
            <div layout="column" layout-fill layout-margin layout-padding>

                <div layout="row" layout-fill>
                    <md-button class="md-raised md-primary" ng-click="password.reset()" aria-label="reset" ng-disabled="!password.resetForm.$valid" layout-fill>
                      <span flex="40">
                        Enviar Email
                      </span>
                    </md-button>
                </div>

                <!-- display an error -->
                <div layout="row" layout-fill>
                    <md-toolbar ng-show="password.error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
                        <p class="md-body-1">{{ password.error }}</p>
                    </md-toolbar>
                </div>

                <!-- other actions -->
                <div layout="row" layout-align="center" layout-fill>
                    <a class="md-button" ui-sref="login">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</md-content>