<md-dialog aria-label="Novo Registro" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 md-colors="{color: 'grey-100'}">Novo Registro</h2>
            <span flex></span>
            <md-button ng-click="partyAddModal.close()">
                Cancelar
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <party-add-form done="partyAddModal.close()"></party-add-form>
        </div>
    </md-dialog-content>
</md-dialog>
