<md-content layout="row" layout-align="center start" layout-fill layout-margin>
    <div layout="column" flex="90" layout-fill>
        <br>
        <!-- header -->
        <div layout="column" flex class="has-tube-top" layout-fill>
            <br>
            <h3 class="md-headline">
                Login do Usuário
            </h3>
        </div>
        <!-- content -->
        <div layout="column" flex class="has-tube-middle" layout-fill>
            <div layout="column" layout-fill layout-margin layout-padding>

                <!-- login form -->
                <form name="userForm" layout="column" layout-fill layout-padding layout-margin>
                    <h5>
                        Insira seus dados a seguir:
                    </h5>
                    <md-input-container class="md-block" flex>
                        <label>
                            Telefone
                        </label>
                        <input ng-model="login.credentials.user.phone" required
                               ng-pattern="/^[+]55[0-9]{2}9[0-9]{4}[0-9]{4}$/"/>
                    </md-input-container>
                    <md-input-container flex>
                        <label>
                            Senha
                        </label>
                        <input type="password" md-maxlength="15" md-minlength="6"
                               required ng-model="login.credentials.password"/>
                    </md-input-container>
                </form>
            </div>
        </div>

        <div flex layout-fill class="has-tube-end">
            <div layout="column" layout-fill layout-margin layout-padding>

                <div layout="row" layout-fill>
                    <md-button class="md-raised md-primary" ng-click="login.loginUser()" aria-label="login" layout-fill>
                      <span flex="80" flex-offset="10">
                        Login
                      </span>
                    </md-button>
                </div>

                <!-- display an error -->
                <div layout="row" layout-fill>
                    <md-toolbar ng-show="login.error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
                        <p class="md-body-1">{{ login.error }}</p>
                    </md-toolbar>
                </div>

                <!-- other actions -->
                <div layout="row" layout-align="center" layout-fill>
                    <a class="md-button" ui-sref="password">
                        Esqueceu a senha?
                    </a>
                </div>
            </div>
        </div>
    </div>
</md-content>
