<md-content layout="row" layout-align="center start" layout-fill layout-margin>

    <md-whiteframe class="md-whiteframe-z2" layout="column" flex flex-md="50" flex-lg="50" flex-gt-lg="33" layout-fill>

        <md-toolbar class="md-primary md-tall" layout="column" layout-align="end" layout-fill>
            <div class="md-toolbar-tools md-toolbar-tools-bottom" layout="row">
                <h3 class="md-display-1">
                  Sign In
                </h3>
            </div>
        </md-toolbar>

        <div layout="column" layout-fill layout-margin layout-padding>
            <div layout="row" layout-fill layout-margin>
                <p class="md-body-2">
                    Use existing account
                </p>
            </div>
            <div layout="row" layout-fill layout-margin layout-padding layout-wrap layout-align="center">
                <md-button ng-click="login.loginGoogle()" class="md-raised">
                    <md-icon class="xs-va-wbm" style="color: #DC4A38;">{{ 'google' | mdiIconFilter }}</md-icon>
                    <span>Google</span>
                </md-button>
                <md-button class="md-raised" ng-click="login.loginFacebook()">
                    <md-icon class="xs-va-wbm" style="color: #3F62B4;">{{ 'facebook-box' | mdiIconFilter }}</md-icon>
                    <span>Facebook</span>
                </md-button>
            </div>
            <md-divider class="inset"></md-divider>

            <div layout="row" layout-fill layout-margin>
                <p class="md-body-2">
                    Sign in with your email
                </p>
            </div>

            <form name="loginForm" layout="column" layout-fill layout-padding layout-margin>
                <md-input-container>
                    <label>
                        Email
                    </label>
                    <input type="text" ng-model="login.credentials.email" aria-label="email" required>
                </md-input-container>
                <md-input-container>
                    <input type="password" class="fix-float" ng-model="login.credentials.password" aria-label="password" required>
                    <label>
                        Password
                    </label>
                </md-input-container>

                <div layout="row" layout-align="space-between center">
                    <a href="/password" class="md-button">
                      Forgot password?
                    </a>
                    <md-button class="md-raised md-primary" ng-click="login.login()" aria-label="login" ng-disabled="login.loginForm.$invalid()">
                        Sign In
                    </md-button>
                </div>
            </form>

            <md-toolbar class="md-warn" ng-show="login.error" layout="row" layout-fill layout-padding layout-margin>
                <p class="md-body-1">
                    {{ login.error }}
                </p>
            </md-toolbar>
            <md-divider></md-divider>
            <div layout="row" layout-align="center">
                <a href="/register" class="md-button">
                  Need an account?
                </a>
            </div>

        </div>

    </md-whiteframe>
</md-content>
