<div layout="row">
    <md-button aria-label="Login" ui-sref="login" ng-hide="auth.isLoggedIn">
        Login
    </md-button>
    <md-button aria-label="Register" ui-sref="register" ng-hide="auth.isLoggedIn">
        Register
    </md-button>
    <md-button class="md-button-icon" aria-label="Logout" ng-click="auth.logout()" ng-show="auth.isLoggedIn" aria-label="Logout">
        <md-icon class="xs-va-mid xs-fsz-xlg">{{ 'logout' | mdiIconFilter }}</md-icon>
    </md-button>
    <div ng-show="auth.isLoggedIn" class="lg-pt-7">
      {{ auth.currentUser | displayNameFilter }}
    </div>
</div>
