<md-input-container layout="row" layout-align="center center" layout-fill>
    <div flex="5"></div>
    <md-button flex="5" class="md-raised lg-layer-front-1" md-colors="{background: 'grey-50'}" ng-class="{ disabled : pagination.current == 1 }" ng-click="setCurrent(pagination.current - 1)">&lsaquo;</md-button>
    <div flex="80" class="range-label">{{ range.lower }} - {{ range.upper }} dentre {{ range.total }}</div>
    <md-button flex="5" class="md-raised lg-layer-front-1" md-colors="{background: 'grey-50'}" ng-class="{ disabled : pagination.current == pagination.last }" ng-click="setCurrent(pagination.current + 1)">&rsaquo;</md-button>
    <div flex="5"></div>
</md-input-container>
