<md-card flex="nogrow" class="lg-layer-front-1">
    <img class="p-image md-card-header"
         ng-src="{{partyCard.getPicture}}" ng-if="partyCard.image"/>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline" ui-sref="partyDetails({ partyId: partyCard.id })">
                {{partyCard.name}}
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        {{ partyCard.type | sanityProblemTypeFilter }}
    </md-card-content>
    <md-card-actions>
    </md-card-actions>
</md-card>